{% extends '@MetaCloudifyHomeBundle/base.html.twig' %}

{% block title %}MetaCloudify{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/metacloudifyHome/css/sidebar.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/metacloudifyHome/css/home.css') }}">

            <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-2.0.3/b-3.0.1/b-colvis-3.0.1/cr-2.0.0/date-1.5.2/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sc-2.4.1/sb-1.7.0/sp-2.3.0/sl-2.0.0/sr-1.4.0/datatables.min.css">
        {% endblock %}

        {% block javascripts %}

            <!-- Manejo de directorios y ficheros -->
            <script src="{{ asset('bundles/metacloudifyHome/js/cloud.js') }}"></script>
            <script src="{{ asset('bundles/metacloudifyHome/js/dataTable.js') }}"></script>
            <script src="{{ asset('bundles/metacloudifyHome/js/modales.js') }}"></script>
            <script src="{{ asset('bundles/metacloudifyHome/js/sessionStore.js') }}"></script>
            <script src="{{ asset('bundles/metacloudifyHome/js/utils.js') }}"></script>

            <script src="https://cdn.datatables.net/v/bs5/dt-2.0.3/b-3.0.1/b-colvis-3.0.1/cr-2.0.0/date-1.5.2/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sc-2.4.1/sb-1.7.0/sp-2.3.0/sl-2.0.0/sr-1.4.0/datatables.min.js"></script>

        {% endblock %}

{% block body %}

    <!-- HEADER -->
    {% include '@MetaCloudifyHomeBundle/Includes/header.html.twig' %}

    <!-- MAIN -->
    <div class="container-fluid">
        <div class="row">
            <!-- SIDEBAR -->
            {{ include('@MetaCloudifyHomeBundle/Includes/sidebar.html.twig') }}

            <!-- MAIN BLOCK -->
            <div id="mainContent" class="col-md-10 col-sm-8 mb-2">
                <div class="d-sm-block d-md-none border-top my-3"></div>
                <div id="text-welcome" class="d-block container mx-0 border-left">
                    <h1>Bienvenido</h1>
                    <p>MetaCloudify es una aplicación web que permite gestionar ficheros y metadatos de distintas nubes.</p>
                </div>
                <div id="text-explorer" class="d-none container mx-0 border-left">
                    <h1>Explorador</h1>
                </div>

                    <div class="container mx-0 pt-2">
                        <table id="explorer" class="table table-striped">

                        </table>
                        <form class="d-none" id="fileupload-explorer" method="POST" enctype="multipart/form-data" style="display: none;">
                            <input class="form-control form-control-sm me-2" id="formFile-explorer" type="file" name="content" multiple>
                        </form>
                    </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    {{ include('@MetaCloudifyHomeBundle/Includes/footer.html.twig') }}



    <!-- ALERTS -->
    {{ include('@MetaCloudifyHomeBundle/Includes/alerts.html.twig') }}

    <!-- MODAL SIGN IN -->
    {{ include('@MetaCloudifyHomeBundle/Includes/modalSignIn.html.twig') }}

    <!-- Modal file/directoy name -->
    {{ include('@MetaCloudifyHomeBundle/Includes/modalDirFileName.html.twig') }}

    <!-- Context Menu Mouse -->
    {{ include('@MetaCloudifyHomeBundle/Includes/contextMenu.html.twig') }}

    <!-- Modal de edicion de metadatos -->
    {{ include('@MetaCloudifyHomeBundle/Includes/modalEditarMetadatos.html.twig') }}

    <!-- Modal buscador de metadatos -->
    {{ include('@MetaCloudifyHomeBundle/Includes/modalBuscarMetadatos.html.twig') }}

    <!-- Modal de visualizar de metadatos -->
    {{ include('@MetaCloudifyHomeBundle/Includes/modalVerMetadatos.html.twig') }}

    <!-- Modal de seleccionar cuenta -->
    {{ include('@MetaCloudifyHomeBundle/Includes/modalSelectAccount.html.twig') }}

    <!-- Modal de confirmar eliminar archivo -->
    {{ include('@MetaCloudifyHomeBundle/Includes/deleteModal.html.twig') }}

    <!-- Elemento para la pantalla de upload -->
    {{ include('@MetaCloudifyHomeBundle/Includes/progressBarUpload.html.twig') }}

    <!-- Elemento para la pantalla de carga -->
    {{ include('@MetaCloudifyHomeBundle/Includes/modalPantallaCarga.html.twig') }}

{% endblock %}
