{% extends '@UEMC_homeBundle/base.html.twig' %}

{% block title %}MetaCloudify{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/uemc_home/css/sidebar.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/uemc_home/css/_home.css') }}">

            <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-2.0.3/b-3.0.1/b-colvis-3.0.1/cr-2.0.0/date-1.5.2/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sc-2.4.1/sb-1.7.0/sp-2.3.0/sl-2.0.0/sr-1.4.0/datatables.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.7.0/css/jquery.fileupload.min.css">
        {% endblock %}

        {% block javascripts %}

            <!-- Manejo de directorios y ficheros -->
            <script src="{{ asset('bundles/uemc_home/js/cloud.js') }}"></script>
            <script src="{{ asset('bundles/uemc_home/js/dataTable.js') }}"></script>
            <script src="{{ asset('bundles/uemc_home/js/modales.js') }}"></script>
            <script src="{{ asset('bundles/uemc_home/js/localStore.js') }}"></script>
            <script src="{{ asset('bundles/uemc_home/js/utils.js') }}"></script>

            <script src="https://cdn.datatables.net/v/bs5/dt-2.0.3/b-3.0.1/b-colvis-3.0.1/cr-2.0.0/date-1.5.2/fc-5.0.0/fh-4.0.1/kt-2.12.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sc-2.4.1/sb-1.7.0/sp-2.3.0/sl-2.0.0/sr-1.4.0/datatables.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.7.0/js/vendor/jquery.ui.widget.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.7.0/js/jquery.iframe-transport.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.7.0/js/jquery.fileupload.min.js"></script>
        {% endblock %}

{% block body %}

    <!-- HEADER -->
    {% include '@UEMC_homeBundle/Includes/header.html.twig' %}

    <!-- MAIN -->
    <div class="container-fluid d-flex flex-wrap">

        <!-- SIDEBAR -->
        {{ include('@UEMC_homeBundle/Includes/sidebar.html.twig') }}

        <!-- MAIN BLOCK -->
        <div id="mainContent" class="min-vh-auto col-md-10 d-flex flex-column flex-wrap align-items-start justify-content-start border-start"  style="width: 69.5%;">
                <div class="container col-md-12">
                    <h1>Bienvenido</h1>
                    <p>MetaCloudify es una aplicación web que permite gestionar ficheros y metadatos de distintas nubes.</p>
                </div>

                <div class="container d-flex flex-column col-md-12 mt-2 mb-4 pt-2">
                    <table id="explorer" class="table table-striped" style="width: 100%">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                    <form class="d-none" id="fileupload-explorer" method="POST" enctype="multipart/form-data" style="display: none;">
                        <input class="form-control form-control-sm me-2" id="formFile-explorer" type="file" name="content">
                    </form>
                </div>
        </div>

    </div>

    <!-- ALERTS -->
    {{ include('@UEMC_homeBundle/Includes/alerts.html.twig') }}

    <!-- MODAL SIGN IN -->
    {{ include('@UEMC_homeBundle/Includes/modalSignIn.html.twig') }}

    <!-- Modal file/directoy name -->
    {{ include('@UEMC_homeBundle/Includes/modalDirFileName.html.twig') }}

    <!-- Context Menu Mouse -->
    {{ include('@UEMC_homeBundle/Includes/contextMenu.html.twig') }}

    <!-- Modal de edicion de metadatos -->
    {{ include('@UEMC_homeBundle/Includes/modalEditarMetadatos.html.twig') }}

    <!-- Modal de visualizar de metadatos -->
    {{ include('@UEMC_homeBundle/Includes/modalVerMetadatos.html.twig') }}

    <!-- Modal de seleccionar cuenta -->
    {{ include('@UEMC_homeBundle/Includes/modalSelectAccount.html.twig') }}

    <!-- Elemento para la pantalla de upload -->
    {{ include('@UEMC_homeBundle/Includes/progressBarUpload.html.twig') }}

    <!-- Elemento para la pantalla de carga -->
    {{ include('@UEMC_homeBundle/Includes/modalPantallaCarga.html.twig') }}

    <!-- FOOTER -->
    {{ include('@UEMC_homeBundle/Includes/footer.html.twig') }}
{% endblock %}
