<div class="flex-shrink-0 p-3" style="width: 280px;">
    <div class="d-flex align-items-baseline justify-content-start">
        <i class="bi-lg bi-person-fill mx-2 fs-4"></i>
        <h4>Accounts</h4>
    </div>
    <ul class="list-unstyled ps-0">


        {% if app.session.has('googledriveAccounts') %}
            {% for accountId, account in app.session.get('googledriveAccounts') %}
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-start" data-bs-toggle="collapse" data-bs-target="#googledrive{{ accountId }}-collapse" aria-expanded="false">
                        GoogleDrive - {{ account.user }}
                    </button>
                    <div class="collapse" id="googledrive{{ accountId }}-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a onclick="event.preventDefault();controller='{{ path('GoogleDrive_drive') }}' ;loadData('','{{ accountId }}');" class="btn d-inline-flex align-items-center rounded border-0">Drive</a></li>
                            <li><a onclick="controller='{{ path('GoogleDrive_logout') }}'; logout('{{ accountId }}');" class="btn link-body-emphasis d-inline-flex text-decoration-none rounded">LogOut</a></li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        {% endif %}

        {% if app.session.has('onedriveAccounts') %}
            {% for accountId, account in app.session.get('onedriveAccounts') %}
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-start" data-bs-toggle="collapse" data-bs-target="#onedrive{{ accountId }}-collapse" aria-expanded="false">
                        OneDrive - {{ account.user }}
                    </button>
                    <div class="collapse" id="onedrive{{ accountId }}-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a onclick="event.preventDefault();controller='{{ path('onedrive_drive') }}' ;loadData('','{{ accountId }}');" class="btn d-inline-flex align-items-center rounded border-0">Drive</a></li>
                            <li><a onclick="controller='{{ path('onedrive_logout') }}'; logout('{{ accountId }}');" class="btn link-body-emphasis d-inline-flex text-decoration-none rounded">LogOut</a></li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        {% endif %}

        {% if app.session.has('owncloudAccounts') %}
            {% for accountId, account in app.session.get('owncloudAccounts') %}
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-start" data-bs-toggle="collapse" data-bs-target="#owncloud{{ accountId }}-collapse" aria-expanded="false">
                        OwnCloud - {{ account.user }}
                    </button>
                    <div class="collapse" id="owncloud{{ accountId }}-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a onclick="event.preventDefault();controller='{{ path('owncloud_drive') }}' ;loadData('','{{ accountId }}');" class="btn d-inline-flex align-items-center rounded border-0">Drive</a></li>
                            <li><a onclick="controller='{{ path('owncloud_logout') }}'; logout('{{ accountId }}');" class="btn link-body-emphasis d-inline-flex text-decoration-none rounded">LogOut</a></li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        {% endif %}

        {% if app.session.has('ftpAccounts') %}
            {% for accountId, account in app.session.get('ftpAccounts') %}
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-start" data-bs-toggle="collapse" data-bs-target="#ftp{{ accountId }}-collapse" aria-expanded="false">
                        FTP - {{ account.user }}
                    </button>
                    <div class="collapse" id="ftp{{ accountId }}-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a onclick="event.preventDefault();controller='{{ path('ftp_listDirecories') }}' ;loadData('','{{ accountId }}');" class="btn d-inline-flex align-items-center rounded border-0">Drive</a></li>
                            <li><a onclick="controller='{{ path('ftp_logout') }}'; logout('{{ accountId }}');" class="btn link-body-emphasis d-inline-flex text-decoration-none rounded">LogOut</a></li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        {% endif %}

        <li class="border-top my-3"></li>
        <li class="mb-1">
            {% if not ( app.session.has('googledriveAccounts') or
                app.session.has('onedriveAccounts') or
                app.session.has('owncloudAccounts') or
                app.session.has('ftpAccounts')   )
            %}
                <p>Por favor, inicia sesión en algún servicio para poder continuar.</p>
            {% endif %}
            <button id="btLogin" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modalSignin">Login</button>
        </li>
    </ul>
</div>